body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height:2;
}


/* 16px = 100% = 1em */

h1 {
  line-height: 2;
  font-size: 5.625rem;
  margin-top:50px;
  margin-bottom: 20px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}

hr {
   border-style:none;
   border-top-style: dotted;
   border-color:#EAF6F6;
   border-width:5px;
   width:10%;
}

.top-container{
  background-color:#E4F9F5;
  padding:100px;
  position:relative;
}


.bottom-container{
  background-color:#66BFBF;
  padding:30px;

}

.des{
  color:#40514E;
  font-weight: bold;
}

.data{
  text-decoration: underline;

}

.top-cloud{
  position:absolute;
  top:50px;
  right:300px;

}

.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:400px;
}

.footer-link{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;

}

.footer-link:hover{
  color:#EAF6F6;

}

.profile{
  width:30%;
  margin: 100px auto 100px auto;
}



.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height:2;
}

.contact-me{
  margin:10px auto 120px auto;
}

.last-par{
  width:40%;
  margin:30px auto 60px auto;
}

.com{
  width:25%;
  float:left;
  margin-right:30px;
}

.hob{
  width:25%;
  float:right;
  margin-left:30px;
}

.foot-note{
 color: #EAF6F6;
 font-family: 'Montserrat', sans-serif;
 font-size:0.75rem;
 margin-top: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
